<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<style type="text/css">
body {color: white; background: black;}
div {text-align: left; font-size: 200%;}
</style>
</head>
<body>
<div>

<br>
<h1>{{ dofweat }}</h1>
<table border="1">
<th>Time of Occurance</th>
<th>Wind Direction</th>
<th>Wind Speed</th>
<th>Temperature</th>
<!--<th>Apparent Temperature</th>-->
{% for slice in tslice_list %}
     <tr> 
        <td> {{ slice.start_time|date:'G:i' }} </td>
        <td> {{ slice.wind_direction }} </td>
        <td> {{ slice.wind_speed }} </td>
        <td> {{ slice.temperature }} </td>
        <!--<td> {{ slice.apparent_temperature }} </td>-->
     </tr>
{% endfor %}
</table>
</body>
</html>
