<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<style type="text/css">
body {color: white; background: black;}
div {text-align: left; font-size: 200%;}
</style>
</head>
<body>
<div>

<h1>Welcome to the future of hang gliding, bro.</h1>
<br>
{% if datetime %}
{{datetime}}
{% endif %}
<br>
<ul>
  <li><a href="https://twitter.com/seanrconnell" rel="me">@seanrconnell on Twitter</a></li>
  <li><a href="https://github.com/seanconnell" rel="me">Github</a></li>
  <li><a href="http://facebook.com/seanconnell" rel="me">Facebook</a></li>
</ul>
<i>-Sean</i>
</div>
</body>
</html>
