<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<style type="text/css">
body {color: white; background: black;}
div {text-align: left; font-size: 200%;}
</style>
</head>
<body>
<div>

<h1>Welcome to the future of hang gliding, bro.</h1>
<br>
{% if datetime %}
    {{datetime}}
{% endif %}
{% if site %}
{{ site.name }}
{% endif %}
{% if weather_list %} 
    <b>List of Days:<b>  
    <br> 
    <table border="1"> 
    {% for day in weather_list %} 
        <tr> 
            <td> <a href="/day/{{day.id}}">{{day}}</a></td> 
        </tr> 
    {% endfor %} 
{% endif %} 

<br>
</div>
</body>
</html>
