html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color: #444;
	font-family: Georgia, serif;
	line-height: 1.5em;
}
ol, ul {
	list-style: square;
	margin: 0 0 0.5em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
	font-weight: bold;
}
p {
	margin: 0 0 0.5em;
  padding:10px;
  box-shadow: 0px 0px 14px #014D57;
  background-color: #0F3F46;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
	font-weight: normal;
	line-height: 1.2em;
	padding: 0.5em 0 0.25em;
}


h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
  color:#398E9A;
  font-weight:bold;
}

h3 {
  font-variant:small-caps;
	font-size: 1.5em;
  color:#398E9A;
  font-weight:bold;
  background: rgb(55,55,55);
  padding-left:10px;
}

h4 {
	font-size: 1.25em;
  background: rgb(55,55,55);
  padding-bottom:10px;
  color:#398E9A;
  font-weight:bold;
}

h5, h6 {
	font-size: 1em;
  color:#398E9A;
  font-weight:bold;
}

a, a:link, a:visited {
  color:#ECEDD4;
	text-decoration: none;
}

a:hover, a:active {
	background: #00a9c2;
	border-color: #00a9c2;
	color: #fff;
  text-shadow: 0px 0px 10px  #398E9A; 
}

td a{
  width:100%;
  height:100%;
  display:block;
  text-align:center;
}
td a:hover{
  background:rgb(200,200,200);
  color:rgb(15,15,15);
}

img {
	max-width: 100%;
}


.bkg {
  color:#398E9A;
}

#logo {
	border-color: #00a9c2;
  text-align:center;
  font-weight:bold;
  color:#398E9A;
}

.logo {
	border-color: #00a9c2;
	font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
	font-weight: normal;
	font-size: 1.2em;
}
.logo b {
	font-weight: bold;
}

.grid {
	padding: 0 20px;
}

.row {
	margin-bottom: 1em;
}

a.bttn {
  background-color: #10474F;
	display: inline-block;
	font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
	font-size: 1.2em;
	font-weight: bold;
  margin-top:10px;
  margin-bottom:10px;
  margin-right:50px;
  margin-left:50px;
	padding: 0.5em 0.5em;
  border-top-right-radius: 15px 2px;
  border-top-left-radius: 15px 2px;
  border-bottom-right-radius: 15px 2px;
  border-bottom-left-radius: 15px 2px;
  box-shadow: 0px 0px 14px #0F3F45;
}

.footer p {
	color: #666;
	text-align: center;
	max-width: none;
}

body{
  color:#BCBDA4;
  margin:0;
  padding:0;
  background-color:rgb(70,80,90);
}

tr.even {
  background-color: #00373F;
}

tr.odd{
  background-color: #10474F;
}

table{
  box-shadow: 0px 0px 14px rgb(68,68,68);
}
th {
  background: rgb(55,55,55);
  padding:15px;
  font-weight:bold;
  font-variant:small-caps;
  text-align:center;
  font-size:125%;
}

td{
  font-weight:bolder;
  padding:15px;
  text-align:center;
}

a.nav{
  font-variant:small-caps;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
}

#footer{
  text-align:center;
}

.nil{
	margin: 0 0 0.5em;
  padding:0px;
  box-shadow: 0px 0px 14px #014D57;
  border--radius: 0px;
}
