html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color: #444;
	font-family: Georgia, serif;
	line-height: 1.5em;
}
ol, ul {
	list-style: square;
	margin: 0 0 0.5em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
	font-weight: bold;
}
p {
	margin: 0 0 0.5em;
  padding:10px;
	max-width: 634px;
  box-shadow: 0px 0px 14px rgb(68,68,68);
  background-color: rgb(55,55,55);
  border-top-right-radius: 25px 12px;
  border-top-left-radius: 25px 12px;
  border-bottom-right-radius: 25px 12px;
  border-bottom-left-radius: 25px 12px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
	font-weight: normal;
	line-height: 1.2em;
	padding: 0.5em 0 0.25em;
}


h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
  padding-bottom:10px;
}

h5, h6 {
	font-size: 1em;
}

a, a:link, a:visited {
	color: #11bad3;
	text-decoration: none;
}

a:hover, a:active {
	background: #00a9c2;
	border-color: #00a9c2;
	color: #fff;
}

img {
	max-width: 100%;
}

#logo {
  text-align:center;
	padding-bottom: 0;
  font-weight:bold;
}

.logo {
	color: #eee;
	font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
	font-weight: normal;
	font-size: 1.2em;
}
.logo b {
	font-weight: bold;
}

.grid {
	padding: 0 20px;
}

.row {
	margin-bottom: 1em;
}

a.bttn {
	background: rgb(55,55,55);
	display: inline-block;
	font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0.5em 0;
	padding: 0.5em 0.75em;
  border-top-right-radius: 25px 12px;
  border-top-left-radius: 25px 12px;
  border-bottom-right-radius: 25px 12px;
  border-bottom-left-radius: 25px 12px;
  box-shadow: 0px 0px 14px rgb(68,68,68);
}

.footer p {
	color: #666;
	text-align: center;
	max-width: none;
}

body{
  color:rgb(240,250,280);
  margin:0;
  padding:0;
  background-color:rgb(50,35,20);
}

tbody tr:nth-child(even) td {
  background-color: rgb(70,55,40);
}
tbody tr:nth-child(odd) td {
  background-color: rgb(55,55,55);
}

table{
  box-shadow: 0px 0px 14px rgb(68,68,68);
}
th {
  background: rgb(55,55,55);
  padding:10px;
  font-weight:bold;
  font-variant:small-caps;
  text-align:left;
}

td{
  padding:10px;
}
#navigation{
  font-variant:small-caps;
  text-align:center;
}

#footer{
  text-align:center;
}
