body{
  color:white;
  margin:0;
  padding:0;
  background-color:black;
  font-size:200%
}

B{font-family:serif, helvetica; font-weight:bold; color:white;}
h1{font-family:serif, helvetica; font-weight:bold; color:white;}
h2{font-family:serif, helvetica; font-weight:bold; color:white;}
h3{font-family:serif, helvetica; font-weight:bold; color:white;}
td{font-family:serif, helvetica; font-weight:bold; color:white;}
th{font-family:serif, helvetica; font-weight:bold; color:white;}
