{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="slot-0-1-2-3-4-5">
<h3>Why WingWeather?</h3>
<p>I'm a Hang II pilot, and I started out flying in Oregon. We have a large diversity of hang gliding sites here in the Pacific Northwest, and I found myself having trouble keeping
track of which ones would be good in various conditions, especially when the weather on the coast might be (and often is) completely different from weather
inland. WingWeather is my stab at a solution to this.</p>
<h3>How does it work?</h3>
<p>WingWeather pulls weather forecast information out of the NOAA <a href="http://www.nws.noaa.gov/ndfd/">NDFD</a>, which provides high quality weather
forecasts. It then compares this against sets of known rules for a list of hang gliding site launches and landings to assign a 'flyability' rating for that day.
This is based on how close the wind speed and direction is to optimal values. To be flyable, a site must meet minimal criteria for at least one launch and landing.</p>
<h3>Why do so many sites have similar scores?</h3>
<p>The NDFD weather data is split into grids covering fairly large areas of land. As such, if launches and landings between two closely situated sites
have similar requisite conditions, the sites will likely have similar scores.</p>
<h3>Why is the site so minimal?</h3>
<p>When I'm trying to find out weather for hang gliding sites, I'm usually on the side of a mountain somewhere next to some cows dancing around trying
to get a signal. I wanted WingWeather to read well on mobile devices as well as load quickly in case of intermitted connections, which I expect to
be the norm rather than the exception.</p>
</div>
</div>

{% endblock %}

{% block footer %}
    <div class="row">
      <div class="slot-0"><p class="nil"></p></div>
      <div class="slot-1-2-3-4 contact-me">
        <h3>Website by Sean Connell</h3>
        <a class="bttn" href="http://seanconnell.org" rel="Personal Site">SeanConnell.org</a>
        <a class="bttn" href="https://twitter.com/seanrconnell" rel="Twitter">@seanrconnell</a>
        <a class="bttn" href="https://github.com/seanconnell" rel="Github">Github</a>
      </div>
      <div class="slot-5"><p class="nil"></p></div>
    </div>

{% endblock %}
