<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>WingWeather: Find a flyable Hang Gliding site now!</title>
  <h2>WingWeather is in testing right now, don't trust any of these numbers.</h2>
  {% load static %}
  {% get_static_prefix as STATIC_PREFIX %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/base.css" type="text/css" media="all">
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/720_grid.css" type="text/css" media="screen and (min-width: 720px)">
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/986_grid.css" type="text/css" media="screen and (min-width: 986px)">
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/1236_grid.css" media="screen and (min-width: 1236px)" >

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37632810-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>
<body>

<div class="grid">

{% block title %}
  <h2>{{ title }}</h2>
{% endblock %}

 <div class="row" id="navigation">
    {% block nav %}
        <div class="slot-0-1-2-3-4-5">
          <h3>
          {% block nav-home %}<a class="nav" href="/">Flyability</a>{% endblock %}
          {% block nav-site-list %}<a class="nav" href="/site/list">Site List</a>{% endblock %}
          {% block nav-about %}<a class="nav" href="/about">About</a>{% endblock %}
          </h3>
        </div>
    {% endblock %}
  </div>

 <div id="content">
    {% block content %} {% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
    <div class="row">

      <div class="slot-0-1-2-3-4-5"><p class="nil"></p></div>

    </div>
    {% endblock %}
  </div>

</div>
</body>
</html>
