{% extends "base.html" %}

{% block content %}

{% if weather_list %}
<div class="row">
    <div class=class="slot-0-1-2-3-4-5">
        <table border="0">
        <th></th>

        {% for dow in weather_list %}
            <th class="site_name">{{dow}}</th>
        {% endfor %}

        {% for row in conditions_table %}
            <tr>
            {% for column in row %}
                <td> {{column}} </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% endblock %}
