{% extends "base.html" %}

{% block content %}

{% if weather_list %}
<div class="row">
    <div class="slot-0-1-2-3-4-5">
        <table border="0" width="100%">
        <th>Site Name</th>

        {% for dow in weather_list %}
            <th>{{dow}}</th>
        {% endfor %}

        {% for row in conditions_table %}
            <tr>
            {% for column in row %}
                <td> {{column}} </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% endblock %}
