{% extends "base.html" %}
{% block content %}
{% if site %}
<h3>{{ site.name }} (located in {{ site.city }}, {{ site.state }}) forecast predicted on  {{ site.last_weather_refresh|date:"H:i F jS" }}</h3>
<div class="row">
    <div class="slot-0-1-2-3-4-5">
        <table border="0" width="100%">

        <th>Hour of Prediction</th>
        {% for dow in weather_list %}
            <th>{{dow}}</th>
        {% endfor %}

        {% for row in conditions_table %}
            <tr class="{% cycle 'odd' 'even' %}">
            {% for column in row %}
                {% if column.link %}
                <td> <a href="/{{column.link}}/{{column.id}}">{{column.value}}</a> </td>
                {% else %}
                <td>{{column.value}}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
