{% extends "base.html" %}

{% block content %}
{% if site_list %}
<div class="row">
    <div class=class="slot-0-1-2-3">
        <table border="0" width="100%">

        <th>Site Name</th>
        <th>City</th>
        <th>State</th>
        <th>Latitude, Longitude</th>
        <th>Flight Window</th>

        {% for row in site_table %}
            <tr class="{% cycle 'odd' 'even' %}">
            {% for column in row %}
                <td> {{column}} </td>
            {% endfor %}
            </tr>
        {% endfor %}

        </table>
    </div>
{% endif %}
{% endblock %}
