{% extends "base.html" %}

{% block content %}
{% if site_list %}
    <span class="row">
        <span class="slot-0">Site Weather</th>
        <span class="slot-1">Associated City</th>
        <span class="slot-2">State</th>
    </span>
    {% for site in site_list %}
        <span class="row">
            <span="slot-0"> <a href="/site/{{site.id}}">{{site}}</a></span?>
            <span="slot-1"> {{site.city}} </span>
            <span="slot-2"> {{site.state}} </span>
        </span>
    {% endfor %}
{% endif %}
{% endblock %}
